#!/usr/bin/make -f

%:
	dh $@ --with quilt

override_dh_auto_configure:
	cd libmodsecurity && ./build.sh
	cd libmodsecurity && ./configure --disable-shared --disable-examples CFLAGS='-O2 -fPIC' CXXFLAGS='-O2 -fPIC'
	cd libmodsecurity/others && make
	cd libmodsecurity/src && make
	cd nginx && \
		env MODSECURITY_INC=../libmodsecurity/headers \
		MODSECURITY_LIB=../libmodsecurity/src/.libs \
		NGX_IGNORE_RPATH=YES \
		./configure --with-pcre-jit --with-threads --with-ipv6 \
		--with-http_gzip_static_module --with-http_gunzip_module \
		--with-http_v2_module --with-http_dav_module \
		--with-http_realip_module --with-http_geoip_module=dynamic \
		--with-http_ssl_module --http-proxy-temp-path=/var/lib/nginx/proxy \
		--with-cc-opt="$$(pkg-config --cflags libxml-2.0 geoip yajl libpcre libcurl apr-1) -I$$(apxs2 -q INCLUDEDIR) -Wno-error" \
		--add-dynamic-module="$$(pwd)/.."
	echo '#define NGX_HTTP_HEADERS 1' >> nginx/objs/ngx_auto_config.h

override_dh_auto_build:
	make -C nginx -f objs/Makefile modules

override_dh_auto_install:
	mkdir -p debian/libnginx-mod-http-modsecurity/usr/lib/nginx/modules
	mkdir -p debian/libnginx-mod-http-modsecurity/etc/nginx/modules-enabled
	cp nginx/objs/ngx_http_modsecurity_module.so debian/libnginx-mod-http-modsecurity/usr/lib/nginx/modules/
	ln -sf /usr/share/nginx/modules-available/libnginx-mod-http-modsecurity.conf \
		debian/libnginx-mod-http-modsecurity/etc/nginx/modules-enabled/50-mod-http-modsecurity.conf

override_dh_auto_clean:
	test -e Makefile && make clean || true
	test -e libmodsecurity/Makefile && make -C libmodsecurity clean || true
	test -e nginx/Makefile && make -C nginx clean || true
