#!/usr/bin/make -f
export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS=hardening=+all
debian_cflags:=$(shell dpkg-buildflags --get CFLAGS) -fPIC $(shell dpkg-buildflags --get CPPFLAGS)
debian_ldflags:=$(shell dpkg-buildflags --get LDFLAGS) -fPIC

%:
	dh $@ --with quilt

override_dh_auto_configure:
	cd nginx && \
		./configure \
			--with-cc-opt="$(debian_cflags) $$(pkg-config --cflags libxml-2.0 geoip yajl libpcre libcurl apr-1) -I$$(apxs2 -q INCLUDEDIR) -Wno-error" \
			--with-ld-opt="$(debian_ldflags)" \
			--prefix=/usr/share/nginx \
			--conf-path=/etc/nginx/nginx.conf \
			--http-log-path=/var/log/nginx/access.log \
			--error-log-path=/var/log/nginx/error.log \
			--lock-path=/var/lock/nginx.lock \
			--pid-path=/run/nginx.pid \
			--modules-path=/usr/lib/nginx/modules \
			--http-client-body-temp-path=/var/lib/nginx/body \
			--http-fastcgi-temp-path=/var/lib/nginx/fastcgi \
			--http-proxy-temp-path=/var/lib/nginx/proxy \
			--http-scgi-temp-path=/var/lib/nginx/scgi \
			--http-uwsgi-temp-path=/var/lib/nginx/uwsgi \
			--with-debug \
			--with-compat \
			--with-pcre-jit \
			--with-http_ssl_module \
			--with-http_v2_module \
			--with-threads \
			--add-dynamic-module="$$(pwd)/.."
	echo '#define NGX_HTTP_HEADERS 1' >> nginx/objs/ngx_auto_config.h

override_dh_auto_build:
	make -C nginx -f objs/Makefile modules

override_dh_auto_install:
	mkdir -p debian/libnginx-mod-http-modsecurity/usr/lib/nginx/modules
	mkdir -p debian/libnginx-mod-http-modsecurity/etc/nginx/modules-enabled
	cp nginx/objs/ngx_http_modsecurity_module.so debian/libnginx-mod-http-modsecurity/usr/lib/nginx/modules/
	ln -sf /usr/share/nginx/modules-available/libnginx-mod-http-modsecurity.conf \
		debian/libnginx-mod-http-modsecurity/etc/nginx/modules-enabled/50-mod-http-modsecurity.conf

override_dh_auto_clean:
	test -e Makefile && make clean || true
	test -e libmodsecurity/Makefile && make -C libmodsecurity clean || true
	test -e nginx/Makefile && make -C nginx clean || true
